.my-card{

   
  
}

.my-cards {
    width: 350px;
    height: 200px;
    /* overflow: hidden; */
    position: relative;
 
  }
  
  .custom-card .card-img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .custom-card .custom-card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 1rem;
    margin: 0;
  }