.activite-contaier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding: 80px;
}
.heading{
  display: flex;
  color: rgb(18, 19, 19);
  font-size: 24px;
  font-weight: bolder;
}
.first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: auto;
  align-items: center;
}

span {
  display: block;
  justify-content: center;
  color: rgb(18, 19, 19);
  font-size: 24px;
  font-weight: bolder;
}
.spanheading {
  padding-right: "800px";
}
.main-container {
  display: flex;
  background-color: black;
  align-self: center;
  padding-top: 20px;
  padding: auto;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.card-text {
  text-align: start;
  list-style: circle;

  padding: 10px;
}
.heading  {
  display: flex;
  letter-spacing: 0.02em;
  font-weight: bolder;
  
}

.listtext {
  flex-direction: column;
  text-align: center;
  padding: 5px;
}
.red-card{
  border-radius: 10px;
  transition: transform 0.5s ease-out 0s;
}
.card {
  transition: transform 0.5s ease-out 0s;
}
.card:hover {
  transform: translateX(50px);
}
.red-card:hover {
  transform: translateX(10px);
}

.card-icon {
  display: flex;
  padding: 10px;
  align-items: center;
}
.card-title-icon {
  padding-right: 10px;
}

.card-text ul {
  padding: 10px;

  color: "white";
}
.card-text li {
  padding-bottom: 10px;
  font-size: 20px;
  padding-left: 5px;
  list-style: circle;
}
/* Responsive Tablets, Mobile, Ipads */

@media (max-width: 576px) {
  .main-container {
    display: block;
    align-self: center;
    padding-left: 15px;
    height: auto;
    padding: 10px;
  }
  .spanheading {
    padding-right: "100px";
    font-size: 15px;
  }
  .heading {
    font-size: 18px;
}
  .card-body {
    margin-top: 20px;
  }

  .card-text li {
    font-size: 15px;
    list-style: circle;
  }
  .hero-title {
    display: block;
  }
}

@media (max-width: 768px) {
  .main-container {
    display: flex;
    align-self: center;
    padding: 10px;
    height: 130%;
  }
  .spanheading {
    padding-right: "100px";
    font-size: 15px;
  }
  .heading h2 {
    font-size: 10px;
    font-weight: bolder;
  }

  .card-body {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .main-container {
    display: flex;
  }
  .spanheading {
    padding-right: "100px";
    font-size: 15px;
  }
  .heading h2 {
    font-size: 15px;
    font-weight: bolder;
  }
  .list-items {
    display: block;
  }
}

@media (max-width: 1200px) {
  .main-container {
    display: flex;

    align-items: center;
  }
  .spanheading {
    padding-right: "100px";
    font-size: 10px;
  }
  .heading h2 {
    font-size: 10px;
    font-weight: bolder;
  }
}
@media (max-width: 1400px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .spanheading {
    padding-right: "100px";
    font-size: 10px;
  }
  .heading h2 {
    font-size: 10px;
    font-weight: bolder;
  }
}
