.carriere-head {
  display: flex;
}
.heading {
  padding: 20px;
  padding-left: 50px;
  font-size: 34px;
  font-weight: bold;
}
.card-bg {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  background-color: black;
  width: 50%;
  height: 80vh;
}
.my-cards {
  padding-top: 150px;
  margin-left: 200px;
}
.carriere {
  width: 200%;
  background-color:  #ffff;
  padding: 10px 10px 15px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: rgb(222, 235, 247);
 
}
.card-title {
  font-size: 34px;
  padding-left: 20px;
  font-weight: bold;
  color: black;
}
.text-p {
  color: black;
  text-align: left;

}
.card-second-text-h {
  font-size: 30px;
  color: red;
}
.card-second-text {
  color: red;
}

.section-footer {
  background-color: #e65d5e;
  height: 35vh;
}
.email-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 10px;
}

.search-div{
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding: 10px;

}

.section-text {
  color: white;
}

.custom-select{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
  width: 100%;
}
.value-select{
  width: 40rem;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .carriere-head {
    display: block;
  }
  .heading {
    padding: 20px;
    padding-left: 50px;
    font-size: 34px;
    font-weight: bold;
  }
  .card-bg {
    display: block;
    justify-content: flex-start;
    align-self: flex-start;
    background-color: black;
    width: 25%;
    height: 40vh;
  }
  .carriere {
    width: 100%;
  }
  .search-box {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .carriere-head {
    display: block;
  }
  .heading {
    padding: 20px;
    padding-left: 50px;
    font-size: 34px;
    font-weight: bold;
  }
  .card-bg {
    display: block;
    justify-content: flex-start;
    align-self: flex-start;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 80vh;
  }
  .my-cards {
    padding-top: 150px;
    margin-left: 0px;
  }
  .carriere {
    padding-left: 20px;
  }
  .search-box {
    width: 400px;
  }
  .section-footer {
    align-self: center;
    background-color: #e65d5e;
    height: 50vh;
  }
  .email-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .value-select{
    width:auto;
  }
}
