.my-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e0e8f2;
  width: 100%;
}

.heading {
  display: flex;
  color: rgb(18, 19, 19);
  font-size: 24px;
  font-weight: bolder;
}
.hero-text {
  padding-right: 500px;
  font-size: 34px;
  font-weight: bold;
  color: black;
}

.main-section {
  display: flex;
  width: 40%;
  background-color: black;
  margin-right: 1050px;
}
.my-card {
  padding-top: 20px;
  width: 350px;
}
.left-cards {
  width: 200%;
  background-color: #e65d5e;
}
.text-icon {
  display: flex;
  margin-top: 20px;
}

.card-left {
  padding-top: 250px;
  padding-left: 50px;
}
.card-left {
  padding-right: 50px;
}
.my-card-body {
  margin-right: 150px;
}
.text-ul {
  text-align: start;
  list-style: circle;
  font-size: 10px;
}
.text-li {
  color: white;
}
.head-text {
  font-size: 40px;
  font-weight: bolder;
  padding-right: 700px;
}

.listtext {
  flex-direction: column;
  text-align: center;
  padding: 5px;
}
.carriere {
  transition: none !important;
}
.carriere:hover {
  transform: none !important;
}

/* .card-text {
  text-align: left !important;
} */

/* Responsive Tablets, Mobile, Ipads */

@media (max-width: 576px) {
  .main-container {
    display: block;
    align-self: center;
    padding-left: 15px;
    height: auto;
    padding: 10px;
  }
  .spanheading {
    padding-right: "100px";
    font-size: 15px;
  }
  .heading h2 {
    font-size: 10px;
    font-weight: bolder;
  }

  .card-body {
    margin-top: 20px;
  }

  .card-text li {
    font-size: 15px;
    list-style: circle;
  }
  .hero-title {
    display: block;
  }
}

@media (max-width: 768px) {
  .main-container {
    display: flex;
    align-self: center;
    padding: 10px;
    height: 130%;
  }
  .spanheading {
    padding-right: "100px";
    font-size: 15px;
  }
  .heading h2 {
    font-size: 10px;
    font-weight: bolder;
  }

  .card-body {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .main-container {
    display: flex;
  }
  .spanheading {
    padding-right: "100px";
    font-size: 15px;
  }
  .heading h2 {
    font-size: 15px;
    font-weight: bolder;
  }
  .list-items {
    display: block;
  }
}

@media (max-width: 1200px) {
  .main-container {
    display: flex;

    align-items: center;
  }
  .spanheading {
    padding-right: "100px";
    font-size: 10px;
  }
  .heading h2 {
    font-size: 10px;
    font-weight: bolder;
  }
}
@media (max-width: 1400px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .spanheading {
    padding-right: "100px";
    font-size: 10px;
  }
  .heading h2 {
    font-size: 10px;
    font-weight: bolder;
  }
}
