.my-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e0e8f2;
  width: 100%;
  padding: 50px;
}

.heading {
  display: flex;
  color: rgb(18, 19, 19);
  font-size: 24px;
  font-weight: bolder;
}
.hero-text {
  padding-right: 500px;
  font-size: 34px;
  font-weight: bold;
  color: black;
}

.main-section {
  display: flex;
  width: 100%;
  background-color: black;
  

}
.my-card {
  padding-top: 20px;
  width: 100%;
  padding: 20px;
}
.my-left-card {
  width: 100%;
  background-color: #e65d5e;
  padding: 20px;
}
.text-icon {
  display: flex;
  margin-top: 20px;
}

.card-left {
  padding-top: 210px;
 
}
.card-right {
  padding-left: 10px;
}

.my-card-body {
  margin-right: 10px;
}
.head-text {
  font-size: 40px;
  font-weight: bolder;
  padding-right: 700px;
}
.text-ul {
  text-align: start;

  font-size: 15px;
}
.text-li-right {
  list-style: circle;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}
.text-li {
  color: white;
  list-style: circle;
  padding: 5px;
}


.metier-carriere {
  transition: none !important;
  background-color: #e0e8f2;
  padding: 20px;
  border-radius: 10px;
  width: 100%;

}
.metier-carriere:hover {
  transform: none !important;
}

/* .card-text {
  text-align: left !important;
} */

/* Responsive Tablets, Mobile, Ipads */

@media (max-width: 576px) {
  .my-container {
    display: block;
    align-self: center;
    padding-left: 15px;
    height: auto;
    padding: 10px;
  }
  .heading {
    padding-right: "100px";
    font-size: 15px;
  }
  .heading h2 {
    font-size: 10px;
    font-weight: bolder;
  }

  .card-body {
    margin-top: 20px;
  }

  .card-text li {
    font-size: 15px;
    list-style: circle;
  }
  .hero-title {
    display: block;
  }
}

@media (max-width: 768px) {
  .my-container {
    display: block;
    align-self: center;
    padding: 10px;
    height: 130%;
  }
  .heading {
    padding-right: "100px";
    font-size: 15px;
  }

  .hero-text {
    padding-right: 0px;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }

  .main-section {
    display: block;
    width: 100%;
    background-color: black;
    margin-right: 0px;
  }
  .metier-carriere {
    width: 100%;
    height: 100%;
   
    
  }
  .my-card {
    padding-top: 20px;
    margin-left: 0px;
  }

  .my-left-card {
    width: 100%;
    background-color: #e65d5e;
  }
  .text-icon {
    display: flex;
    margin-top: 20px;
  }

  .card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 150px;
  }
  .card-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .my-card-body {
    display: block;
    margin: 10px;
  }
  .text-ul {
    display: contents;
    font-size: 15px;
  }
  .text-li-right {
    list-style: circle;
    padding: 5px;
  }
  .text-li {
    color: white;
    list-style: circle;
    padding: 5px;
  }
  .section-footer {
    align-self: center;
    background-color: #e65d5e;
    height: 50vh;
  }
  .email-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .my-container {
    display: block;
    align-self: center;
    padding: 10px;
    height: 130%;
  }
  .heading {
    padding-right: "100px";
    font-size: 15px;
  }

  .hero-text {
    padding-right: 0px;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }

  .main-section {
    display: block;
    width: 100%;
    background-color: black;
    margin-right: 0px;
  }
  .carriere {
    display: block;
  }
  .my-card {
    display: block;
    padding-top: 20px;
  }

  .my-left-card {
    background-color: #e65d5e;
  }
  .text-icon {
    display: flex;
    margin-top: 20px;
  }

  .card-left {
    display: block;
    flex-direction: column;
    padding-left: 0px;
    padding-top: 150px;
    width: 100%;
  }
  .card-right {
    display: block;
    flex-direction: column;
    padding: 10px;
  }

  .my-card-body {
    display: block;
    margin-left: 0px;
  }
  .text-ul {
    display: contents;
    font-size: 25px;
  }
  .text-li-right {
    display: contents;
    list-style: circle;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
  }
  .text-li {
    display: contents;
  }
  .section-footer {
    align-self: center;
    background-color: #e65d5e;
    height: 50vh;
  }
  .email-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  .my-container {
    display: block;
    align-self: center;
    padding: 10px;
    height: 130%;
  }
  .heading {
    padding-right: "100px";
    font-size: 15px;
  }

  .hero-text {
    padding-right: 0px;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

  
  }
  .metier-carriere {
    display: block;

    align-items: center;
  }
  .my-card {
    display: block;
    padding-top: 20px;
  }

  .my-left-card {
    background-color: #e65d5e;

  }
  .text-icon {
    display: flex;
    margin-top: 20px;
  }

  .card-left {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-top: 150px;
  }
  .card-right {
    display: block;
    padding-left: 0px;
  }

  .my-card-body {
    display: block;
    margin-left: 0px;
  }

  .text-li-right {
    display: inline;
    list-style: circle;
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
    
  }
  .text-li {
    display: inline;
    text-align: center;
    line-height: 10px;
  }
  .section-footer {
    align-self: center;
    background-color: #e65d5e;
    height: 50vh;
  }
  .email-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 1400px) {
  /* .main-container {
    display: flex;
    flex-direction: column;
  }
  .heading h2 {
    padding-right: 0px;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  .text-ul {
    display: contents;
    font-size: 25px;
  } */
}
