.activite-contaier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

span {
  display: block;
  justify-content: center;
  color: rgb(18, 19, 19);
  font-size: 24px;
  font-weight: bolder;
}
.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: black;
  height: 330vh;
  width: 76%;
}
/* .cards{
    transition: all 0.5s ease-out;
    
} */
.listtext {
  flex-direction: column;
  text-align: center;
  padding: 5px;
}
.card {
  transition: transform 0.5s ease-out 0s;
}
.card:hover {
  transform: translateX(-100px);
}
.card-icon {
  display: flex;
  padding: 10px;
  align-items: center;
}
.card-title-icon {
  padding-right: 10px;
}

.card-text ul {
  padding: 10px;

  color: "white";
}
.card-text li {
  padding-bottom: 10px;
  font-size: 20px;
  padding-left: 5px;
  list-style: circle;
}
/* Responsive Tablets, Mobile, Ipads */

@media (max-width: 576px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
  }
  .card {
    position: absolute;
    display: flex;
    flex-direction: row;
    display: none;
  }
  .card-body {
    width: min-content;
    height: min-content;
    left: 0;
    right: 0;
  }
}

@media (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card {
    position: absolute;
    display: flex;
    flex-direction: row;
  }
  .card-body {
    width: min-content;
    height: min-content;
    left: 0;
    right: 0;
  }
}

@media (max-width: 992px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card {
    position: absolute;
    display: flex;
    flex-direction: row;
  }
  .card-body {
    width: min-content;
    height: min-content;
    left: 0;
    right: 0;
  }
}
@media (max-width: 1200px) {
}
@media (max-width: 1400px) {
}
