:root {
    --comet-text: #586069;
    --comet-black: #24292e;
    --comet-light-black: #c8c8c8;
    --comet-light: #f7fafb;
    --comet-white: #ffffff;
    --comet-white-secondary: #fcfdfd;
    --comet-primary: #604888;
    --comet-primary-dark: #4e3a6f;
    --comet-success: #01c461;
    --comet-red: #e65d5e;
    --comet-yellow: #fdaf13;
    --comet-danger: #f21905;
    --comet-danger-dark: #b30f00;
    --comet-dark-blue: #151b26;
    --comet-blue: #4869ee;
    --comet-linear-secondary: linear-gradient(135deg, #6e8efb, #a777e3);
    --comet-shadow-small: 0 1px 0 rgb(27 31 35 / 4%) !important;
    --comet-shadow-medium: 0 3px 6px rgb(149 157 165 / 15%) !important;
    --comet-border: 1px solid #b1c5e0;
    --comet-hover-color: #4869ee !important
        /*rgba(0, 0, 0, 0.08)*/
    ;
    --comet-input-placeholder: #cbd1dc;
  }
.main-container{
    background-color: transparent;

}

.container{
   display: flex;
   justify-content: center;
  align-content: center;

}
.mes-aderent{
    display: flex;
    flex-direction: column;
}

.mes-hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    top: 40px;
}

.search-section{
    background-color: var(--comet-white);
    box-shadow: var(--comet-shadow-medium);
    border-radius: 10px;
    border: var(--comet-border);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;

}


.search {
    font-size: 14px;
    padding-left: 50px;
    padding-right: 20px;
    background-color: transparent;
    height: 100%;
    border: none;
    width: 100%;
}

.filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    position: relative;
    box-shadow: var(--comet-shadow-medium);
}

.search {
    width: 100%;
}
.list-adherent{
  background-color: var(--comet-white);
  box-shadow: var(--comet-shadow-medium);
  padding: 0 10px;
  border-radius: 20px;
  margin-top: 30px;
  
 
}
.adherent{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d6ddee; 
   
 
    
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    
   

}

