.model-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .model-content {
    background-color: white;
    width: 500px;
    height: 600px;
    padding: 20px;
    border-radius: 4px;
  }
  
  .model-content h2 {
    margin-top: 0;
  }
  
  .model-content button {
    display: flex;
    padding: 10px;
    background-color: brown;
    color: white;
    border-radius: 10px;
  }
  